article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;margin:0.67em 0;}abbr[title]{border-bottom:1px dotted;}dfn{font-style:italic;}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em;}pre{white-space:pre-wrap;}q{quotes:"\201C" "\201D" "\2018" "\2019";}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:0;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}legend{border:0;padding:0;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,select{text-transform:none;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}
*,
*::after,
*::before {
	box-sizing: border-box;
}
::selection {
  background-color: lightgray;
  color: black;

}
:root {
	font-size: 16px;
}

body {
	--color-text: #262523;
    --color-bg: #efece5;
    --color-link: #eca324;
    --color-link-hover: #262523;
    --color-title: #ffffff;
    --img-maxwidth: 250px;
    --blendmode-title: difference;
    /*--filter-img: blur(20px);*/
	color: var(--color-text);
	background-color: var(--color-bg);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.content {
	/*height: 300px;*/
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	isolation: isolate;
}

.content__title {
	position: relative;
	z-index: 10000;
	font-size: 27vw;
	mix-blend-mode: var(--blendmode-title);
	-webkit-text-stroke: 2px var(--color-title);
	text-stroke: 2px var(--color-title);
	-webkit-text-fill-color: transparent;
	text-fill-color: transparent;
	color: transparent;
	pointer-events: none;
}

.content__img {
	max-width: var(--img-maxwidth);
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	will-change: transform;
	-webkit-animation: image_blur 1s; 
	/*filter: var(--filter-img);*/
}

.content__img--full {
	width: 100%;
	height: 100%;
	background-size: cover;
}

@font-face {
	font-family: "MGR";
	src: url("fonts/MGR.ttf");
}
@font-face {
	font-family: "MGM";
	src: url("fonts/MGM.ttf");
}
html, body {
	font-family: "MGR";
	text-transform: uppercase;
	line-height: 28px;
	background-color: #f9f8f3;
	margin: 0;
	overflow: hidden;
}
@media (max-width: 700px) {
	html, body {
		line-height: 24px;	
	}
}
p, h1, h2, span, .left-cont div {
	margin: 0;
	font-size: 16px;
	font-weight: normal;
}
@media (max-width: 700px) {
  p, h1, h2, span, .left-cont div {
  	margin: 0;
  	font-size: 12px;
  	font-weight: normal;
  }
}
span {
	padding-right: 14px;
}
.left-cont div {
	position: relative;
	bottom: -7px;
}
.number {
	font-family: "MGM";
}
.number span {
	font-family: "MGR";
}
.main-container {
	display: flex;
	justify-content: center;
	cursor: help;
}
.left-cont {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin-right: 24px;
}
@media (max-width: 700px) {
	.left-cont {
		margin-right: 20px;
	}
}
.upper-cont {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	z-index: 10000;
	position: relative;
	color: black;
}
.subtitle {
	font-size: 18px;
}
@media (max-width: 700px) {
	.subtitle {
		font-size: 16px;
	}
}
.first {
	padding-top: 5px;
}
.title {
	font-size: 28px;
}
@media (max-width: 700px) {
	.title {
		font-size: 24px;
	}
}
.last {
	display: flex;
	align-items: inherit;
	padding-top: 5px;
}
.last span {
	line-height: 1;
}
.nav {
	position: absolute;
	top: 16px;
	right: 25px;
	z-index: 20000;
}
.nav a {
	text-decoration: none;
	color: black;
	transition: all ease-in-out 0.5s;
}
.nav a:first-child {
	margin-right: 15px;
}
.nav a:hover {
	opacity: 0.5;
	transition: all ease-in-out 0.5s;
}

/* Loader */

.lds-ring {
  display: inline-block;
  position: relative;
  width: 54px;
  height: 54px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 54px;
  height: 54px;
  border: 1px solid black;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1);
  animation-iteration-count: 10;
  border-color: black transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loadFade {
	from {
		opacity: 100%;
		visibility: visible;
	}
	to {
		opacity: 0%;
		visibility: hidden;
	}
}

.load {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(249,248,243,0.95);
	z-index: 30000;
	transition: all ease-in-out 0.5s;
	animation-delay: 1.2s;
	animation-name: loadFade;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	-webkit-animation-fill-mode: forwards;
}

