article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;margin:0.67em 0;}abbr[title]{border-bottom:1px dotted;}dfn{font-style:italic;}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em;}pre{white-space:pre-wrap;}q{quotes:"\201C" "\201D" "\2018" "\2019";}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:0;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}legend{border:0;padding:0;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,select{text-transform:none;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}
*,
*::after,
*::before {
	box-sizing: border-box;
}
::selection {
  background-color: lightgray;
  color: black;

}
::-webkit-scrollbar {
  display: none;
}

body {
	--color-text: #262523;
    --color-bg: #ffffff;
    --color-link: #eca324;
    --color-link-hover: #262523;
    --color-title: #ffffff;
    --img-maxwidth: 250px;
    --blendmode-title: difference;
	color: var(--color-text);
	background-color: var(--color-bg);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: rgb(245,245,245);
}
html, body {
	font-family: "MGR";
	text-transform: uppercase;
	margin: 0;
	overflow: hidden;
	font-size: 12px;
}
@font-face {
	font-family: "MGR";
	src: url("fonts/MGR.ttf");
}
@font-face {
	font-family: "MGM";
	src: url("fonts/MGM.ttf");
}
p, h1, h2, span {
	margin: 0;
	font-weight: normal;
}
ion-icon {
	font-size: 16px;
	padding-left: 8px;
}
.fake-nav {
	width: 100vw;
}
.fake-nav:hover {
	cursor: pointer;
	opacity: 0.5;
	transition: opacity 0.7s;
}
@media (max-width: 700px) {
	.fake-nav {
		display: none;
	}
}
.column {
	min-height: 896px;
	overflow-y: scroll;
	box-sizing: content-box;
	width: 30%;
	scrollbar-width: none;
	background: white;
	padding: 16px;
	box-shadow: 0px 0px 4px rgba(0,0,0,0.1);
	margin-top: 30px;
	margin-bottom: 10px;
	border: 1px solid rgba(0,0,0,0.15);
}
@media (max-width: 700px) {
	.column {
		margin-top: 0;
		margin-bottom: 0;
	}
}
.accordion-box {
	padding: 16px 0;
	display: flex;
	justify-content: center;
}
.accordion-custom {
	width: 100%;
}
.section-body {
	font-size: 16px;
}
.section-body span {
	font-size: 12px;
}
.title-box {
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 1px black solid;
	padding: 0 16px 16px 16px;
}
.upper-cont {
	display: flex;
	align-items: baseline;
	justify-content: center;
	height: 100vh;
	z-index: 10000;
	position: relative;
	color: black;
	/*margin: 20px;*/
	line-height: 100%;
	overflow-y: scroll;
}
.sht-desc {
	font-size: 16px;
	text-align: justify;
}
.sht-desc, .update {
	text-transform: initial;	
}
.foot p {
	line-height: 1.5;
}
.inside-section {
	padding-top: 17px;
}
.collapsible-header {
	background-color: unset !important;
	border-bottom: none !important;
	/*line-height: 100% !important;*/
	padding: 16px 0 16px 105px !important;
}
.collapsible-body {
	border-bottom: none !important;
	padding: 0 !important;
	line-height: 200%;
}
.collapsible {
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
  margin: 0 !important;
  box-shadow: none !important;
}
.identity {
	font-size: 16px;
	letter-spacing: 3px;
	width: 60%;
	padding: 0 0 0 87px;
}
.identity span {
	font-size: 12px;
	letter-spacing: normal;
	padding-right: 8px;
}
.nd {
	padding-top: 0 !important;
}
.title-desc span, .foot span {
	padding: 0 8px;
}
.update {
	padding: 16px 0;
	font-size: 16px;
}
.section-title {
	text-transform: uppercase;
}
.foot a {
	line-height: 1.5;
	display: block;
	color: black;
	text-decoration: underline;
	text-transform: capitalize;
	font-size: 16px;
}
.contact span {
	padding-right: 8px;
}
.contact a {
	color: black;
}
.first {
	margin-bottom: 16px;
	height: 500px;
	width: 100%;
	overflow: hidden;
}
.first .section-body {
	padding-right: 20%;
}



/*.first {
	scrollbar-color: black white;
	scrollbar-width: thin;
	height: 500px;
	overflow-y: scroll;
	scrollbar-width: thin;
}
*/

/* Images hover effect */

.content {
	/*height: 300px;*/
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	isolation: isolate;
}

.content__img {
	max-width: var(--img-maxwidth);
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	will-change: transform;
	-webkit-animation: image_blur 1s; 
	/*filter: var(--filter-img);*/
}

.content__img--full {
	width: 100%;
	height: 100%;
	background-size: cover;
}




@media (max-width: 700px) {
	.column {
		width: 100%;
	}
}



/* Loader */

.lds-ring {
  display: inline-block;
  position: relative;
  width: 54px;
  height: 54px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 54px;
  height: 54px;
  border: 1px solid black;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1);
  animation-iteration-count: 10;
  border-color: black transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loadFade {
	from {
		opacity: 100%;
		visibility: visible;
	}
	to {
		opacity: 0%;
		visibility: hidden;
	}
}

.load {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #ffffff;
	z-index: 30000;
	transition: all ease-in-out 0.5s;
	animation-delay: 1.2s;
	animation-name: loadFade;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	-webkit-animation-fill-mode: forwards;
}

